# Class

    - A class is a user-defined blueprint or prototype from which objects are created.
    - Defines the properties (attributes) and behaviors (methods) that the objects belonging to that class will have.

In [14]:
x = " Hello"
print(x, type(x))

 Hello <class 'str'>

### ASCII Values
- It is a numeric value given to different characters and symbols, for computers to store and manipulate. 
- The characters that can be in the form of upper function and lower function of alphabets like, (A,B,C,D,...),(a,b,c,d,...).

In [1]:
ord("A")

65

In [2]:
ord("a")

97

## Methods in String

- strings are immutable,the resulting strings from string methods have a new memory location.
- In order to use these strings, we need re-assign it to a variable.

In [4]:
x = " Hello"
print(x, type(x))

 Hello <class 'str'>

In [5]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# # String_Upper_Case()

- This method changes all the characters in a string to capital alphabets

In [6]:
x = "Python"
x.upper()

'PYTHON'

In [ ]:
## String_lower_case() 

- This method changes all the characters in a string to small letters.x = "Python"
print(x)
x.lower()

x = "PYTHON"
x.lower()

In [23]:
# Upper case
str = "She sells seashells by the seashore"
str.upper()

'SHE SELLS SEASHELLS BY THE SEASHORE'

In [25]:
# Lower case
str.lower()

'she sells seashells by the seashore'

* Strings are <u>**'immutable'**<\u>, the resulting strings from string methods have a new memeory location.
- in order to use strings, we need to reassign it to a variable.

In [8]:
x = 'ABC'
x.upper()

'ABC'

In [9]:
print(id(x), id(x.upper))

140706321734120 2722025714080

In [10]:
x = 'abc'
x.lower()

'abc'

In [11]:
print(id(x),id(x.lower))

140706321286224 2722025715360

## Capitalize()

- In pyhton capitalize() will convert the first character into capital letter and the remaining characters will be in lower       case.

str = "She sells seashells by the seashore"
str.capitalize()

## title() 

- The title function will convert the given input of a every string of first character into the uppercase form.
- converts first alphabet of every word will be in capital case'

In [14]:
str.title()

'She Sells Seashells By The Seashore'

In [38]:
## title()
'123abc !def zx 1234!!@@c'.title()

'123Abc !Def Zx 1234!!@@C'

## Split()

- The split() function means it will give the each and every string into the new line.

str.split()

## Swapcase()

- This method changes capital letters to small letters and small letters to capital letters.

In [16]:
str.swapcase()

'sHE SELLS SEASHELLS BY THE SEASHORE'

## casefold()

- The casefold() changes string lower case to more lowercase, special character like germen character (ß) is already in lower     case so, the lower method doesn’t make the conversion.

- The casefold() method will convert ß to its equivalent character ss.
  'German ss is '

In [17]:
x = 'ß'
x.casefold()

'ss'

### Take a two strings of your choice

   #### 1) Reverse one string
   
      - it begins with index -1 to -n , where n is length of string

      - negitive indexing moves from right to left.

In [18]:
   a = 'Hello'
   b = 'World'
   b = b[::-1]
   b

'dlroW'

####  2) Concatenate these two strings
    
     -  string concatenation is the operation of joining character strings end-to-end.

In [21]:
     a = 'Hello'
     b =  'World'
     c = a + b
     c

'HelloWorld'

####  3) Get the alternate chars of the concatenate string in reverse order.

     - first, we take the two strings then, we add the strings by using concatination operation and assign these value to new          variable these variable will reverse the string by using reverse operation, and to get alternative values to that string        we use step_size value as -2 then we get the required alternate chars of the concatenate string in reverse order.

In [22]:
a = 'Hello'
b = 'World'
c = a + b
c = c[::-2]
c

'drWle'